.App {
  text-align: center;
}

.Header {
  background: #fcf7f3;
  box-shadow: 0px -24px 30px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  text-align: left;
}

.Title {
  color: #49205e;
  font-size: 20px;
  letter-spacing: 1.1px;
}
